@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --primary: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --white: hsl(20, 50%, 98%);
  --bg-primary: hsl(13, 31%, 94%);
  --text-primary: hsl(14, 25%, 72%);
  --text-secondary: hsl(7, 20%, 60%);
  --btn-secondary: hsl(12, 20%, 44%);
  --black: hsl(14, 65%, 9%);
}

*,
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  color: var(--black);
  font-family: "Red Hat Text", sans-serif;
}

body {
  background-color: var(--bg-primary);
  padding-left: calc((110 / 1440 * 100vw));
  padding-right: calc((110 / 1440 * 100vw));
}

.header {
  margin-top: 90px;
  margin-bottom: 2rem;
}

.header .title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

.container {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.desserts-container {
  width: calc((800 / 1440) * 100vw);
  flex-grow: 2;
}

.items-center {
  align-items: center;
}

.container.container--column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.desserts__item {
  flex: 1;
  min-width: 250px;
  max-width: 250px;
  position: relative;
}

.card {
  /* flex: 1;
  min-width: 250px;
  max-width: 250px; */
  position: relative;
}

.info {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-top: 40px;
}

.info__item .title {
  font-weight: 600;
  font-size: 1rem;
  color: var(--black);
}
.info__item .type {
  font-size: 13px;
  color: var(--text-primary);
}

.info__item .price {
  color: var(--primary);
  font-weight: 600;
}

.image-wrapper {
  position: relative;

  height: 250px;
  width: 100%;

  background-color: red;
  border-radius: 15px;
  overflow: hidden;
}

.image-wrapper picture {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image-wrapper picture source,
.image-wrapper picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn.btn--add {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  top: 228px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: greenyellow;
  height: 44px;
  width: 160px;
  border-radius: 50px;
  border: solid 1px var(--primary);
  color: var(--black);
  background-color: #fff;
  font-weight: 600;
}

.btn.btn--add:hover {
  cursor: pointer;
  color: var(--primary);
}

.container.container--cart {
  position: absolute;
  background-color: var(--primary);
  color: var(--white);
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  top: 228px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 44px;
  width: 160px;
  border-radius: 50px;
  border: solid 1px var(--primary);

  p {
    color: var(--white);
  }
}

.btn-cart {
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 89;
  height: 100%;
  width: 44px;
  cursor: pointer;
}

.hidden {
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -100%) !important;
}

.cart-container {
  margin-top: 90px;
  width: auto;
  flex: 1;
  padding: 2rem 1.5rem;
  background-color: var(--white);
  border-radius: 16px;
  height: fit-content;
}

.cart-title {
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.btn.btn--remove {
  background-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50px;
  border: solid 2px var(--text-primary);

  &:hover {
    cursor: pointer;
    border-color: var(--black);
    .cross {
      fill: var(--black);
    }
  }
}

.cart {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--bg-primary);
  margin-bottom: 1.5rem;
  min-width: fit-content;
  /* min-width: 500px; */
}

.cart__item {
  padding: 16px 0;
  border-bottom: 1px solid var(--bg-primary);

  &:last-child {
    padding: 0;
    padding-top: 16px;
    border-color: transparent;
  }
}

.bold {
  font-weight: 600;
}

.cart__item .container {
  gap: 13px;
}

.cart__item .name {
  font-weight: 600;
  font-size: 13px;
}

.cart__item p {
  font-size: 13px;
}

.cart__item .quantity {
  color: var(--primary);
  font-weight: 600;
}

.cart__item .price {
  color: var(--text-primary);
}

.cart__item .total {
  color: var(--text-secondary);
  font-weight: 600;
}

.order-total {
  margin: 1.5rem 0;
}

.order-total .total {
  font-size: 1.5rem;
  font-weight: 600;
}

.carbon-neutral {
  background-color: var(--bg-primary);
  padding: 1rem;
  border-radius: 16px;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: fit-content;
  figcaption {
    font-size: 1rem;
  }
}

.btn.btn--confirm {
  position: relative;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
  height: 54px;
  font-size: 1rem;
  overflow: hidden;
  border-radius: 50px;
  border: solid 1px var(--primary);
  margin-top: 1.5rem;

  &::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0;
  }
  &:hover {
    background-color: var(-);

    &::after {
      opacity: 0.1;
    }
  }
}

.desserts-list {
  flex: 1;
}

.empty-cart {
  figcaption {
    color: var(--text-secondary);
    font-weight: 600;
    text-align: center;
  }
}

.modal {
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: none;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
  }
}

.open {
  display: flex;
}

.confirmation {
  position: relative;
  z-index: 100;
  background-color: var(--white);
  padding: calc((40 / 1440) * 100vw);
  border-radius: 16px;
  width: calc(((600 - 2 * 40) / 1440) * 100vw);
}

.confirmation__header {
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 1.5rem;

  .logo {
    margin-bottom: 1rem;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
  }

  .text {
    color: var(--text-secondary);
    font-weight: 600;
  }
}

.list {
  background-color: var(--bg-primary);
  padding: 1.25rem;
  border-radius: 8px;
  row-gap: 1.75rem;
  margin-bottom: 0.75rem;
}

.image-wrapper.thumbnail {
  height: 50px;
  width: 50px;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.list__item {
  height: fit-content;
}

.list__item__info {
  gap: 0;
  height: 50px;
  /* background-color: pink; */
  justify-content: space-between;

  .name {
    font-weight: 600;
    color: var(--black);
  }

  .quantity {
    font-weight: 600;
    color: var(--primary);
  }

  .price {
    color: var(--text-primary);
  }
}

.list__item__total {
  margin-left: auto;
  color: var(--black);
}

.order-total {
  justify-content: space-between;

  .total-price {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

@media all and (max-width: 936px) {
  .desserts-list {
    width: 100%;
    flex-grow: unset;
  }

  .desserts-container {
    width: auto;
  }

  .desserts__item {
    flex: unset;
    width: 100%;
    min-width: none;
    max-width: none;
  }
  /* 
  .card {
    flex: unset;
    width: 100%;
    min-width: none;
    max-width: none;
  } */
}

@media all and (max-width: 700px) {
  html {
    font-size: 13px;
  }

  body {
    padding: 0 calc((24 / 375) * 100vw);
  }

  .container--main {
    flex-direction: column;
  }
}
