@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import url("./base/variables.css");
@import url("./base/base.css");
@import url("./layout/container.css");
@import url("./components/button.css");
@import url("./components/modal.css");
@import url("./components/card.css");
@import url("./components/header.css");
@import url("./components/footer.css");
@import url("./layout/cart.css");

.desserts__item {
  flex: 1;
  min-width: 250px;
  max-width: 250px;
  position: relative;
}

.desserts-list {
  flex: 1;
}

.order-total {
  justify-content: space-between;

  .total-price {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

@media all and (max-width: 936px) {
  .desserts-list {
    width: 100%;
    flex-grow: unset;
  }

  .desserts__item {
    flex: unset;
    width: 100%;
    min-width: none;
    max-width: none;
  }
}
